@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
.padreVerMensajes{
    width: 100%;
    height: 100%;
}
.menuVerMensajes{
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    padding:2%;
    background:rgba(0,0,0,.5);
    border-bottom:1px solid rgba(251, 181, 0, 0.69);
}
.tituloMenuDeMensajes{
    display: flex;
}
.botonMenuDeMensajes{
    margin-left: 30%;
    padding: 0.6%;
    background: #debc40;
    border-radius: 5px;
}
.botonMenuDeMensajes:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.contenedorDeMensajes{
    height:89.9%;
    padding: 1%;
    overflow-y: auto;
}
.barraDeAbajo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:5px;
    width: 100%;
    position: relative;
    border-bottom:1px solid rgba(251, 181, 0, 0.69);
    background:rgba(0,0,0,.3);
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    overflow: auto;
}
.barraDeAbajo:hover{
    border-bottom:2px solid rgba(251, 180, 0, 0.971);
    transition: 0.5s ease width;
    cursor: pointer;
}
.listaDeMensaje{
    overflow: auto;
}
.botonResponderQueja{
    border: none;
    background-color: #debc40;
    font-size:medium;
    border-radius: 6px;
    font-family: inherit;
    width: 150px;
    
    
}
.botonResponderQueja:hover{
	
    box-shadow: 0 4px 20px rgba(222, 188, 64, 0.849);
    background-color: #ffd747;
  }