.espacioTabla{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.espacioTabla table{
  width: 100%;

}
.espacioTabla thead{

}
.espacioTabla tr{
  display: flex;
  justify-content: space-evenly;
}
.espacioTabla th{
  height: 20px;
  width: 20%;
}