.card-tarifa {
    background-color: #CBD4E1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 300px; /* altura deseada */
    width: 300px; /* ancho deseado */
    margin: 0 auto; /* para centrar horizontalmente */
  }
  
  .card-tarifa:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .card-tarifa-header {
    background-color: #debc40;
    color: #000;
    padding: 10px;
    font-size: medium;
    text-align: center;
    margin: 0;
  }
  
  .card-tarifa-title {
    background-color: #debc40;
    color: #000;
    padding: 10px;
    font-size: large;
    text-align: center;
    margin: 0;
    flex-grow: 1;
  }
  
  .card-tarifa-body {
    padding: 5px;
    color: #000;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card-tarifa-costo {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card-tarifa-btn {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #debc40;
    color: #000000;
    font-size: large;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .card-tarifa-btn:hover {
    background-color: #FFEF7F;
    cursor: pointer;
  }

