.cardRegistroPersonal_j{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 1% 7%;
  /* From https://css.glass */
    background: rgba(255, 255, 255, 0.637);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(251, 181, 0, 0.69);
    color: black;
}

.input_j{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 0px;
    text-indent: 5px;
    font-size:medium;
}

.select_j{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 0px;
    text-indent: 5px;
    font-size:medium;
}

.espacioBotones_j{
    width: 100%;
    display: flex;
    justify-content: center;
}

.espacioBoton_j{
    width: 100%;
    right: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}


.stylesButton_j{
    width: 100%;
    display: flex;
    padding: 5px 32px;
    font-family: 'Poppins', sans-serif;
    background-color:#debc40;
    border-width: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.stylesButton_j:hover{
    width: 90%;
    background-color:#c49e18;
}

.styleErrores_j{
    font-size: 0.8rem;
    color: #eb2929;
    padding: 10px 20px;
}