.formulario-responder-queja {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .formulario-responder-queja label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .formulario-responder-queja input[type="email"],
  .formulario-responder-queja input[type="text"],
  .formulario-responder-queja textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    display: block; /* Establecer a bloque para que estén en una línea separada */
  }
  
  .formulario-responder-queja textarea {
    height: 150px;
    resize: vertical;
  }
  
  .formulario-responder-queja button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block; /* Establecer a bloque para que esté en una línea separada */
    margin-top: 10px; /* Espacio adicional entre los campos y el botón */
  }
  

.parqueo {
    display: flex;
    flex-wrap: wrap;
    background: rgba(105, 92, 92, 0.281);
    padding-left: 20px;
    
    gap: 100px; /* Ajusta el valor del espacio entre las plazas */
    /*min-height: 100vh;/*establece la altura minima del elemento*/
    /*margin-bottom: -100px;*/
  
  }footer {
   
    margin-top: auto; /* Empuja el footer hacia la parte inferior */
    padding-top: 100px;
  }