
  
  
  .plazas-ocupadas {
    width: 50%;
    margin-right: 20px;
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  }
  .plaza-ocupada {
    width: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  background-color: #c41c34;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  
  
  .plaza-ocupada:hover {
    background-color: #c41c34;
  }
  
  .plaza-ocupada.ocupado {
    
    
    
    background-image: url('../../images/images-deysi/carrito.jpg');
    background-position: center center;
  }
  