#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  /*text-align: center;*/
  background: rgba(255, 255, 255, 0.027);
  box-shadow: 0 -4px 30px rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border-top: 1px solid rgba(251, 181, 0, 0.69);
	height: 8%;
  /*padding: 10px;*/
  
}
.contenedorFooder{
  padding-top: 18px;
  display: flex;
  padding-left: 1%;
}
.contenedorFooder h3{
  color:#debc40;
}
.contenedorDeIconosFooder{
  margin-left: 16%;
  display: flex;
  flex-direction:row;
}
#a{
  margin-left: 10px;
}
.facebook{
  /*color:  #385898;*/
  color:#debc40;
}
.whatsapp{
  /*color: #075e54;*/
  color:#debc40;
}
.gmail{
  /*color: rgb(207, 34, 34);*/
  color:#debc40;
}
.facebook:hover{
  font-size: 20px;
  color:  #debc40;
  /*transform: translateY(-3px);*/
  text-decoration:solid;
}
.whatsapp:hover{
  font-size: 20px;
  color: #debc40;
  /*transform: translateY(-3px);*/
  text-decoration:solid;
}
.gmail:hover{
  font-size: 20px;
  color: #debc40;
  /*transform: translateY(-3px);*/
  text-decoration:solid;
}
