#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.027);
  box-shadow: 0 -4px 30px rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border-top: 1px solid rgba(251, 181, 0, 0.69);
	height: 8%;
  padding-top: 5px;
}
h3{
  color: rgba(195, 207, 34, 0.888);
}
#a:hover{
  font-size: 20px;
  color: rgb(228, 244, 8);
  /*transform: translateY(-3px);*/
  text-decoration:solid;
}
.fooder-div{
  padding-top: 5px;
  justify-content: center;
  display: flex;
}
#a{
  color: rgba(195, 207, 34, 0.888);
  margin-left: 10px;
}
