.divFormulario{
  height: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#titulo{
  flex-direction: column;
  text-align: center;
  display: flex;
  height: 25%;
  justify-content: center;
  
}
#login{
  
  /* From https://css.glass */
background: rgba(0, 0, 0, 0.541);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.2px);
-webkit-backdrop-filter: blur(8.2px);
border: 1px solid rgb(133, 100, 11);
width: 450px;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 4px 30px rgba(222, 188, 64, 0.267);

}
#login h1{
  padding-top: 5%;
  text-align: center;
  padding-bottom: 5%;
}
#input{
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
}
#input input{
  width: 300px;
  display: flex;
  padding-left: 1%;
  font-size: large;
  
}
.espacioBoton{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
.botonInicioSesion{
  
  border: none;
  background-color: #debc40;
  font-size:medium;
  border-radius: 6px;
  font-family: inherit;
  width: 150px;
  padding-top: 3%;
  padding-bottom: 3%;
}
.botonInicioSesion:hover{
	
  box-shadow: 0 4px 20px rgba(222, 188, 64, 0.849);
  
}
