@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

#titulo{
  text-align: center;
  padding-top: 2%;
  
}
.formulario{
  padding-top: 4%;
  display: flex;
  justify-content: center;
}

.formulario #input{
  color: black;
  display: flex;
  flex-direction: column;
  padding-bottom: 7%;
}

.formulario #login h1{
  color: black;
}
#login{
  padding: 3% 7%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(251, 181, 0, 0.69);
}
#login h1{
  padding-bottom: 10%;
}
.espacioBoton{
  padding-top: 15%;
  display: flex;
  justify-content: center;
}

.botonInicioSesion{
  display: flex;
  justify-content: center;
  padding: 5px 32px;
  font-family: 'Poppins', sans-serif;
  background-color:#debc40;
  border-width: 1px;
}
.formulario #inputText{
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 0px;
  text-indent: 5px;
  font-size:medium;
}
