/* Navbar */
#navbar {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.027);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border-bottom: 1px solid rgba(251, 181, 0, 0.69);
	height: 8%;
}

.logo img {
	height: 70px;
}

#navbar a {
	color: #f1d467;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
  text-decoration: none;
  
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
  
}

.botonSesion{
	
	padding-right: 20px;
}
#navbar a:hover{
 color: red;
}

#navbar .textologo {
	
  text-transform: uppercase;
}




.logo-container {
	display: flex;
	align-items: center;
	margin-left: 6px;
	
	height: 100px;
  }
  
  .logo-image {
	height: 50px;
	
	
    margin-right: 10px; 
}
  
  .textologo {
	font-size: 20px; 
  }

	.espacioLinks{
		width: 75%;
		display: flex;		
		flex-direction: row;
		

	}
	.navLink{
		margin-left: 3%;
		color: #f1d467;
	}
	.navLink:hover{
		cursor: pointer;
		color: red;
	}