.dashboard{
  display: flex;
  height: 84%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: black  ;
}

.cardFotoParqueo{
  width: 45%;
  height: 90%;
  justify-content: center;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.41);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(251, 181, 0, 0.69);
  }

.cardMensajesGlobales{
  width: 45%;
  height: 90%;
  justify-content: center;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.41);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(251, 181, 0, 0.69);
}