.dashboard{
  display: flex;
  height: 84%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: black  ;
}

.cardFotoParqueo{
  width: 45%;
  height: 90%;
  justify-content: center;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.41);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(251, 181, 0, 0.69);
  }

.cardMensajesGlobales{
  color: aliceblue;
  width: 45%;
  height: 90%;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.651);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(251, 181, 0, 0.69);
}

.tituloComunicados{
  padding: 5px;
  text-align: center;
}

.mensajesGlobales{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.mensajeGlobal{
  width: 90%;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(255, 255, 255, 0.212);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(251, 181, 0, 0.69);
  padding-left: 5px;
  margin-top: 5px;
}

.mensajeGlobal:hover{
  background: rgba(0, 0, 0, 0.192);
  cursor: pointer;
  color:  rgba(253, 211, 104, 0.842);
}