.dashboard{
  display: flex;
  height: 84%;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}
.portada{
  
  width: 70%;
  height: 70%;
}
.tituloPortada{
  
  padding-top: 2%;
  padding-bottom: 1%;
}
.mensajePortada{
  padding-bottom: 1%;
}

.cardFotoParqueo{
  width: 45%;
  height: 90%;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.651);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(251, 181, 0, 0.69);
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .cardFotoParqueo img{
    padding-bottom: 3%;
  }
  .cardFotoParqueo p{
    padding-bottom: 1%;
    color: aliceblue;
    font-size: 1.5em;
    font-weight:bold;
  }



.tituloComunicados{
  padding: 5px;
  text-align: center;
}

.mensajesGlobales{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.todaLaPortada{
  width: 80%;
  height: 90%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.651);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(251, 181, 0, 0.69);
}
